{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block content %}
  {% for post in posts %}
    <files class="post">
      <header>
        <h1>{{ post }}</h1>
        

        <a class="action" href="{{ url_for('blog.download',file=post) }}">Download</a>

      </header>
    </files>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <form method="post">
    <label for="filename">Filename</label>
    <input name="filename" id="filename" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Download">
  </form>
{% endblock %}